
p{
    margin: 0%;
}
input{
    display: block;
    margin-bottom: 10px;
}
.thumbnail{
    width: 380px;
    border-radius: 10px;
}
.video-preview{
    width: 400px;
    display: inline-block;
    margin-right: 10px;
}
.profile{
    width: 100%;
    border-radius: 50%;
}
.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video-content{
    display: inline-block;
}