p{
    margin: 0%;
}
input{
    display: block;
    margin-bottom: 20px;
    width: 50%; 
    padding: 10px;
    font-size: 10px;

}
.thumbnail{
    width: 380px;
    border-radius: 10px;
}
.video-preview{
    width: 400px;
    display: inline-block;
    margin-right: 10px;
}
.profile{
    width: 100%;
    border-radius: 50%;
}
.channel-picture{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}
.video-content{
    display: inline-block;
    vertical-align: top;
    
}


.search-container {
    position: relative;
    width: 50%; /* Adjust the width as per your requirement */
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px 40px 10px 40px;
    font-size: 10px;
}

.search-container .fa-search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: gray;
}

.search-container .fa-microphone {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: gray;
}

